@charset "utf-8";

.row {max-width: 1167px; margin: 0 auto;}
.skip a {display:block; background: #000; color:#fff; text-align: center;padding: 10px 0px;
    width: 1px; height: 1px; overflow: hidden;padding: 0px 0px; position: absolute; top: -100px;}
    /* 헤더의 픽스드때문에 안보여 렐러로 바꾸면 보임 */
    /* 안보이게 해야할때 width: 1px; height: 1px; 오버플로우되니까 히든사용overflow: hidden , 빈틈이 생겨서 패딩은 0px */
    /* 화면에서 안보이게 하려면 화면밖으로 나가게 하려면 스킵 a에 포지션앱솔을 쓰면 상위태그에 렐러를 줘야함 근데 굳이 스킵에 안줘도 되고 그 상위태그인 바디라서 안써도 된다 그리고 스킵에이포커스에 포지션 스타틱 그렇게 되면 헤더에 있던 포지션 렐러를 다시 포지션 픽스드로 바꾼다 */
.skip a:focus {width: 100%; height: auto; padding:10px 0px; top:0px; position: fixed; z-index: 99999999;}
    /* 탭키를 누르면  */
    /* 스타틱은 제트인텍스 못써 그래서 포지션을 렐러로 바꾸고 톱0 제트인덱스999999 */
    /*이렇게 해도 안됨 그럼 픽스드로 바꿔*/
    /*이 스킵은 리셋파일에서 원래파일로*/

#header {position: fixed; width:100%; top:0; left:0;z-index: 999999; background: #fff; box-shadow: 0px 3px 3px #eee;}
.topmenu .row { position:relative }    
.topmenu { background:#f76f6f;
    color:rgba(255,255,255,0.7);
    padding:10px 0; letter-spacing:-0.5px; position: relative;}

.topmenu .chercher_boite {
    /* position: absolute;
    top: 22%; left: 26.9%; */
    z-index: 9999999999;
    position: absolute;
    top: 22%; right: 50%; transform: translate(50%);
}
.topmenu .chercher_boite fieldset {
    border: 2px solid rgba(255,255,255,0.7);
    padding-right:10px;
    border-radius: 4px;
    /* border-bottom: 1px solid rgba(255,255,255,0.7); */
    height: 25px;
    
}
.topmenu .chercher_boite input  {
    padding: 2px 2em;
    border:none;
    background: none;
    font-weight: bold;
    color: rgba(255,255,255,0.7);
    outline: #ffae3d;
}
.topmenu .chercher_boite button {
    background: none;
    /* background:#fff; */
    border: none;
    cursor: pointer;
    color: rgba(255,255,255,0.7);
    /* color: black; */
    height: 21px; vertical-align: top;
    font-size: 11px;
    float: right;
    /*cf가 필요없다 부모높이가 무너지지 않기때문*/
}
.topmenu .chercher_boite ::placeholder {
    color:rgba(255,255,255,0.7)
}
/* 띄어쓰기 */
.topmenu a { transition:all 0.5s;}     
.topmenu a:hover {color:rgb(255, 255, 255, 1) }    
.topmenu .sns a { padding-right:10px; font-size:12.2px;  }
.topmenu .sns a:first-child span { font-size:11px }
.topmenu .login { position:absolute; top:0; right:0;color:rgba(255,255,255,0.7)}
.topmenu .login a { padding-left:10px; font-size:11px }
.logoNav { position:relative; height:76px; }
.logoNav h1 { color:#ffae3d; 
    font-size:26.25px; padding:24.87px 0 24px; 
    font-weight:bold; line-height: 15.75px; }
    /*/line-height:76px--> 76-26.25=49.75 /2 24.87px */
/*서브메뉴가 있는 1단계에서 인라인블록 또는 플롯속성으로 푼다 인라인블록은 빈공간이 생기고 플롯은 빈틈없이 붙는다 */
.logoNav .open_nav {
    display: none;
}
.logoNav .close_nav {
    display:none
}
.logoNav .nav { position:absolute; top:0; right:0;z-index: 9999;}
.logoNav .nav .depth1 > li { display:inline-block;/*float:left;*/
    font-size:15.75px; /*line-height:76px;*/ /*background: red;*/
    /*padding-left:30px;*/ font-weight:bold; position: relative;
    transition:all 0.5s }
.logoNav .nav .depth1 > li >a {padding:24.87px 0px 24.87px 30px; display: inline-block;}
/*li 와 같은 성격으로 디스플레이를 맞춤*/
.logoNav .nav .depth1 > li:hover { 
    color:#ffd23c; }
.logoNav .nav .depth1 > li:first-child { color:#ffd23c }
.logoNav .nav .depth1 > li > a:after { 
    content:'\f078';
    font-family:'Font Awesome 5 Free';
    font-weight:900;
    color:#ddd; padding-left:10px; }
.logoNav .nav .depth1 > li:first-child > a:after,
.logoNav .nav .depth1 > li:nth-child(5) > a:after { visibility: hidden;}

/*7-15*/
.logoNav .depth2 {position: absolute; top:85%; left:0;/*border:1px solid lime;*/width:168px; background: #fff; border-radius: 5px; padding:0 15px; box-shadow: 0px 0px 15px #ddd; display: none;}
.logoNav .depth2:before {content: ''; position: absolute; bottom: 100%; left:35px;border-bottom: 10px solid #fff; border-left: 10px solid transparent; border-right: 10px solid transparent}
/*부모인 뎁스1의 li에 포지션랠러*//*엘아이와 같은 넓이로 */
/*줄간격은 엘아이에서 줘야 라인-하잇이 뎁스2까지 상속됨 뎁스2에 다른값으로 변경*/
/* 8월20일102번 주석 */
/* .logoNav .depth1 > li:hover .depth2 {display: block;}  */
/* css에서는 모션이 딱딱해 이걸 부드럽게 하고싶으면 java로 */
.logoNav .depth2 > li {line-height: 38px;font-size: 16px; color: #ffd23c;}
/* width를 168px로 변경 */
/* 뎁스1과 뎁스2 사이가 겹쳐져있다 그럴때 뎁스2에 톱값을 낮춘다 85정도 */
/*삼각형 자체에 박스-쉐도우를 넣을수가없다*/







#footer { text-align:center; font-size: 12.25px; font-family: '맑은고딕'; }
.footerMenu {background:#eee; color:#333; padding:10px 0;}
.footerMenu a {padding-left:0 11px; }
.footerMenu a:before {content:'|'; padding-right: 11px; font-size: 6px; position: relative; top:-1px;}
.footerMenu a:first-child:before {display: none;}


.comInfo { background:#222; color:rgba(255, 255, 255, 0.5); padding: 40px 0; }
.comInfo .sns a {font-size:17px; padding:0px 10px 15px; display: inline-block;}/*상우하좌*/

.comInfo .info span {letter-spacing: -1px; padding-left: 5px;}
.comInfo .info span:before {content:'|'; padding-right:7px; font-size: 6px; position:relative; top:1px;}


.copyright { background:#0a0a0a; font-size: 10.5px; padding:10px 0px;color:#333}


