@charset "utf-8";
@import "reset.css";
@import "common.css";
@import "rwdcommon.css";


::placeholder {color: teal;}
#join_page {padding:217px 0 100px; }
                    /*상 우좌 하*/
#join_page h2 {
    text-align:center;
    font-size: 30px;
    padding-bottom: 30px;
}
.join_form .info_pilsoo {
    padding-left: 20px; 
    padding-bottom: 10px; 
    border-bottom: 2px solid #000;
    font-size: 15px; color: red;
}
.join_form .pilsoo_item {
    position: relative
}    
.join_form .pilsoo_item:before {
    content: '*';
    position: absolute; 
    left: 5px; top: 3px; width: 15px;
    font-weight: bold; 
    font-size: 17px;
    color: #f00;
}
/* li {background: seagreen;} */
.join_form .info_list {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.join_form .info_list li {
    padding: 8px 0;
}
.join_form .tit_lbl {
    display: inline-block;
    width: 20%;
    line-height: 45px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -2px;
    padding-left: 20px;
    /* background: indianred; */
}
.join_form .info_content {
    display: inline-block;
    /* background:rgba(0, 0, 0, 0.1); */
    width: 79%;
    vertical-align: top;
}
.join_form .info_content input[type=text],
.join_form .info_content input[type=password],
.join_form .info_content input[type=tel],
.join_form .info_content input[type=date],
.join_form .info_content select {
    height: 45px;
    border: 1px solid #ccc;
    padding: 0 1em;
    vertical-align: top;
    /* border-radius: 50%; */
}
/* 화살표 없애는 방법  안되는데???*/
.join_form .info_content select {
    -webkit-appearance:none;
    appearance:none;
    background: transparent;
    z-index: 999;
    /* 이게 제일 적절한방법 */
}
.join_form .info_content select::-ms-expand {
    display:none;
}
/* .join_form .info_content .email_box {position: relative;} */
.join_form .info_content .email_box:after {
    content: '\f0dd'; font-family: 'Font Awesome 5 Free';
    font-weight: 900; color: red;
    line-height: 45px; display: inline-block;
    transform: translateX(-30px);
    /* position: relative;top: 0px; right: 20px; */
}
.join_form .w320 {width: 320px;}
.join_form .w160 {width: 160px;}
.join_form .info_content span {line-height: 45px;}
.join_form .w70p {width: 70%;}
.join_form .mb3 {margin:0px 0px 5px}
 /*margin-bottom:5px  */
.join_form .info_content button {
    height: 45px;
    width: 70px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-left: 15px;
}
/*버튼은 인라인이지만 넓이높이 설정가능*/
.join_form .info_content button:hover {
    cursor: pointer;
    background: #ddd;
}
.join_form .gender_area label{
    line-height: 45px;
    padding-right: 15px;
}
.join_form .gender_area label::before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 20px; height: 20px;
    background-image: url(../images/sprite_img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -296px -258px;
    position: relative; top: 4px;
}
.join_form .gender_area input[type=radio]:checked + label::before {
    background-position: -296px -186px; 
}
.join_form .hobby_area label {
    line-height: 45px;
    padding-right: 15px;
}
.join_form .hobby_area label::before{
    content:'';
    display: inline-block;
    margin-right: 8px;
    width: 20px; height: 20px;
    background-image: url(../images/sprite_img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -296px -114px;
    position: relative;  top: 4px;
    transform: scale(0.5);
    /* transition: all 0.5s; */
}
.join_form .hobby_area input[type=checkbox]:checked + label::before {
    background-position:-138px -182px ;
    transform: scale(1.2);
}

.join_form .gender_area input[type=radio] {
    display: none;
}
.join_form .hobby_area input[type=checkbox] {
    display: none;

}

.join_form .info_content textarea {
    border: 1px solid #ccc;
    width: 70%;
    letter-spacing: -1px; 
    height:245px;
    font-size: 15px;
    color: #444;
    line-height: 1.5;
    padding:10px;
    resize: none;
/* textarea는 글꼴 관련 스타일을 상위태그에서 상속받지 못함, 크기자유롭게 조절되는게 기본속성 resize속성-explore에서는 먹히지않는 속성 */
}
.join_form .btn {
    margin-top: 20px;
    text-align: center;
}
.join_form .btn input {
    width: 100px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    font-size: 18px;
    margin: 0px 20px;
}
.join_form .btn input[type=submit] {background: red;}
.join_form .btn input:hover {
    cursor: pointer;
}

/* label {width: 200px; line-height: 30px; display: inline-block;vertical-align:top} */
/*인라인속성 넓이 높이가 먹히지 않아 디스플레이인라인블록 안하면*/
/* input {width: 300px; height: 30px;vertical-align:top} */
/* 넓이 높이 먹힘 인라인속성 , 정확한 높이 값 필요 박스가 있기때문에 */
/* 줄높이에 간격발생 vertical-align:top 둘다 적용 */
