* { margin:0; padding:0; 
    box-sizing:border-box; }
a { color:inherit; 
    text-decoration:none }    
ul { list-style:none }    
table { border-collapse:collapse;
    width:100%; table-layout:fixed; }
img { max-width:100%; 
    vertical-align:middle;
    border:none }    
.cf:after, .cf:before 
    { content:''; display:block; 
    clear:both}    
h1, h2, h3, h4, h5, h6 {
    font-size:100%; 
    font-weight:normal; } 
strong, th { font-weight:normal }    
address, em { font-style:normal }
.blind { font-size:0px; 
    position:absolute;
    width:0; height:0; 
    overflow:hidden;
    text-indent:-9999px;
    line-height:0; }
header, footer, section, article, aside, nav, main, figure {display:block}
.skip a {display:block; background: #000; color:#fff; text-align: center;padding: 10px 0px;
width: 1px; height: 1px; overflow: hidden;padding: 0px 0px; position: absolute; top: -100px;}
/* 헤더의 픽스드때문에 안보여 렐러로 바꾸면 보임 */
/* 안보이게 해야할때 width: 1px; height: 1px; 오버플로우되니까 히든사용overflow: hidden , 빈틈이 생겨서 패딩은 0px */
/* 화면에서 안보이게 하려면 화면밖으로 나가게 하려면 스킵 a에 포지션앱솔을 쓰면 상위태그에 렐러를 줘야함 근데 굳이 스킵에 안줘도 되고 그 상위태그인 바디라서 안써도 된다 그리고 스킵에이포커스에 포지션 스타틱 그렇게 되면 헤더에 있던 포지션 렐러를 다시 포지션 픽스드로 바꾼다 */
.skip a:focus {width: 100%; height: auto; padding:10px 0px; top:0px; position: relative; z-index: 99999999;}
/* 탭키를 누르면  */
/* 스타틱은 제트인텍스 못써 그래서 포지션을 렐러로 바꾸고 톱0 제트인덱스999999 */
/*이렇게 해도 안됨 그럼 픽스드로 바꿔*/

